{% extends "main/base.html" %}

{% load static %}

{% block title %}
ACS Coffee | {{employee.name}}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="acs-content">
	<div class="acs-card">
		<div class="acs-row">
			<div class="acs-col m acs-card-title"><i class="fa fa-user" aria-hidden="true"></i> {{u.username}}</div>
		</div>
		<br>
		<br>
		<div class="acs-row">
			<div class="acs-col m acs-text-high">Old state</div>
			<div class="acs-col m acs-text-high">New cup/s</div>
		</div>
		<div class="acs-row">
			<div class="acs-col m acs-text-low">{{u.coffeeuser.debt}} €</div>
			<div class="acs-col m acs-text-low">{{u.coffeeuser.coffees}}</div>
		</div>
		<div class="acs-row">
			<div class="acs-col m acs-text-high"><a class="acs-link" href="{% url 'addcup' %}">Add a cup</a></div>
		</div>
		<br>
		<br>
		<div class="acs-row">
			<div class="acs-col m acs-text-high">Last cups</div>
			<div class="acs-col m acs-text-high">Date</div>
		</div>
		{% for cs in c %}
		<div class="acs-row">
			<div class="acs-col m acs-text-low">{{cs.coffeeuser.user.username}}</div>
			<div class="acs-col m acs-text-low">{{cs.date}}</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}