{% extends "main/base.html" %}

{% load static %}

{% block title %}
ACS Coffee | Login
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="acs-fullsize">
	<div class="acs-form">
		<img class="osd-logo" src="{% static 'main/eonerc_logo.png' %}">
  		<form method="post">
			{% csrf_token %}
  			{{ form.as_p }}
  			<button class="acs-button" type="submit">Login</button>
		</form>
	</div>
</div>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block sticker %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer%}
{% endblock %}

{% block js %}
{% endblock %}