{% extends "main/base.html" %}

{% load static %}

{% block title %}
ACS Coffee
{% endblock %}

{% block nav %}
{% endblock %}

{% block content2 %}
<div class="acs-fullsiz">
	<div class="acs-form">
		<img class="acs-logo" src="{% static 'main/eoncoffee.png' %}">
		<h1>ACS Coffee</h1>
  		<form method="post">
			{% csrf_token %}
  			{{ form.as_p }}
  			<button class="acs-button" type="submit">Go</button>
		</form>
	</div>
</div>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block sticker %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer%}
{% endblock %}

{% block js %}
{% endblock %}