{% extends "main/base.html" %}

{% load static %}

{% block title %}
ACS Coffee | {{employee.name}}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
	<div class="acs-card">
		<h2 class="acs-card-title">Help</h2>
		<br>
		<p class="acs-card-text">Why online?</p>
		<p class="acs-card-label">The main reasons for making the coffee management an online service are reducing the time and effort for coffee administration, not having to print the coffee list, less manual work for accountings, bills can be send per email and new people can be added onto the list by everyone.</p>
		<br>
		<p class="acs-card-text">How does it work?</p>
		<p class="acs-card-label">Each employee in the coffee database has his own unique link for accessing their profile. Using this link, employees can see and add coffee to their profiles.</p>
		<br>
		<p class="acs-card-text">How can employees get their personal access link?</p>
		<p class="acs-card-label">By clicking on Retreive link in the front page. The link will be send to the corresponding email-address of the person that is stored in the database.</p>
		<br>
		<p class="acs-card-text">I did not receive my link after requesting it.</p>
		<p class="acs-card-label">In this case, the SMTP server might be having an issue or the email stored in the database might be wrong. Please contact ACS Coffee Administration.</p>
		<br>
		<p class="acs-card-text">I lost my link, what to do now?</p>
		<p class="acs-card-label">In the case that you forgot or lost your access link, employees can request it again through the front page by clicking on Request link.</p>
		<br>
		<p class="acs-card-text">Can i change my link to something more convenient?</p>
		<p class="acs-card-label">Right now, there is no automated way of doing so. Please contact ACS Coffee Administration.</p>
		<br>
		<p class="acs-card-text">Is my link accessible by others?</p>
		<p class="acs-card-label">Even tho the links get distributed personally by email, other employees could possibly access it.</p>
		<br>
		<p class="acs-card-text">Something is wrong with your profile?</p>
		<p class="acs-card-label">Please contact ACS Coffee Administration.</p>
		<br>
		<p class="acs-card-text">How can i pay my current debt?</p>
		<p class="acs-card-label">There will be monthy/quarterly billing emails with instructions to pay.</p>
		<br>
		<p class="acs-card-text">I need to pay immediately because i am leaving ACS soon.</p>
		<p class="acs-card-label">Please contact ACS Coffee Administration.</p>
	</div>
{% endblock %}