{% extends "main/base.html" %}

{% load static %}

{% block title %}
ACS Coffee | Home
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
{% if output != None %}
<div class="acs-fullsize">
	<p style="color: green"><i class="fa fa-check" aria-hidden="true"></i> {{output}}</p>
</div>
<br>
<br>
{% endif %}
<div class="acs-card">
	<h2 class="acs-card-title">Coffee Consumption</h2>
	<div class="acs-row">
		<div class="acs-col s">
			<p class="acs-card-label">Today:</p>
			<p class="acs-card-text">{{today}}</p>
		</div>
		<div class="acs-col s">
			<p class="acs-card-label">Last 7 days:</p>
			<p class="acs-card-text">{{week}}</p>
		</div>
		<div class="acs-col s">
			<p class="acs-card-label">Last 30 days:</p>
			<p class="acs-card-text">{{month}}</p>
		</div>
		<div class="acs-col s">
			<p class="acs-card-label">Total:</p>
			<p class="acs-card-text">{{total}}</p>
		</div>
	</div>
</div>

<div class="acs-card">
	<h2 class="acs-card-title">Coffee List</h2>
<div class="acs-title">
<div class="acs-row">
	<div class="acs-col s"><p>Name</p></div>
	<div class="acs-col s"><p>Old debt</p></div>
	<div class="acs-col s"><p>New coffees</p></div>
	<div class="acs-col s"><p>Actions</p></div>
</div>
</div>

{% for employee in employees %}
<div class="acs-list">
<div class="acs-row">
	<div class="acs-col s"><p>{{employee.name}}</p></div>
	<div class="acs-col s"><p>{{employee.debth}} €</p></div>
	<div class="acs-col s"><p>{{employee.coffees}} cup/s</p></div>
	<div class="acs-col s">
		{% if user.is_authenticated %}
		<p><a class="acs-button" href="{% url 'mail' employee.id %}"><i class="fa fa-envelope" aria-hidden="true"></i> Mail to user</a>
		</p>
		<p><a class="acs-button" href="{% url 'user' employee.qr %}"><i class="fa fa-user" aria-hidden="true"></i> See user</a></p>
		{% endif %}
		<p><a class="acs-button" href="{% url 'getlink' employee.id %}"><i class="fa fa-question" aria-hidden="true"></i> Request link</a></p>
	</div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}