{% extends "main/base.html" %}

{% load static %}

{% block title %}
ACS Coffee | Home
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
{% if output != None %}
<div class="acs-card">
		<p style="color: green"><i class="fa fa-check" aria-hidden="true"></i> {{output}}</p>
</div>
<br>
<br>
{% endif %}

<div class="acs-form">
<div class="acs-title">
<div class="acs-row">
	<div class="acs-col s"><p>Name</p></div>
	<div class="acs-col s"><p>Debth</p></div>
	<div class="acs-col s"><p>Coffees</p></div>
	<div class="acs-col s"><p>Actions</p></div>
</div>
</div>
{% for employee in employees %}
<div class="acs-list">
<div class="acs-row">
	<div class="acs-col s"><p>{{employee.name}}</p></div>
	<div class="acs-col s"><p>{{employee.debth}} €</p></div>
	<div class="acs-col s"><p>{{employee.coffees}} cup/s</p></div>
	<div class="acs-col s">
		{% if user.is_authenticated %}
		<p><a class="acs-link" href="{% url 'mail' employee.id %}"><i class="fa fa-envelope" aria-hidden="true"></i> Mail to user</a></p>
		{% endif %}
		<p><a class="acs-link" href="{% url 'user' employee.id %}"><i class="fa fa-user" aria-hidden="true"></i> See user</a></p>
	</div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}