{% extends "main/base.html" %}

{% load static %}

{% block title %}
ACS Coffee
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="acs-card">
    <p><a class="acs-button" href="{% url 'faq' %}">Get started</a></p>
    <p><a class="acs-button" href="{% url 'newemployee' %}">Add person</a></p>
    <h5 class="acs-card-title">Price per cup: 0,30€</h5>
</div>
{% if output != None %}
<div class="acs-fullsize">
	<div class="acs-form">
		<p style="color: green"><i class="fa fa-check" aria-hidden="true"></i> {{output}}</p>
	</div>
</div>
<br>
<br>
{% endif %}
<div class="acs-car">
	<div class="acs-row">
		<div class="acs-col s">
			<div class="acs-card" style="background-color: var(--background);">
			<p class="acs-card-label">Today:</p>
			<p class="acs-card-text">{{today}}</p>
			</div>
		</div>
		<div class="acs-col s">
			<div class="acs-card" style="background-color: var(--background);">
			<p class="acs-card-label">Last 7 days:</p>
			<p class="acs-card-text">{{week}}</p>
			</div>
		</div>
		<div class="acs-col s">
			<div class="acs-card" style="background-color: var(--background);">
			<p class="acs-card-label">Last 30 days:</p>
			<p class="acs-card-text">{{month}}</p>
			</div>
		</div>
		<div class="acs-col s">
			<div class="acs-card" style="background-color: var(--background);">
			<p class="acs-card-label">Total:</p>
			<p class="acs-card-text">{{total}}</p>
			</div>
		</div>
	</div>
</div>

<div class="acs-card" style="background-color: var(--white);">
	<h2 class="acs-card-title">Coffee List</h2>
<div class="acs-title">
<div class="acs-row">
	<div class="acs-col s"><p>Name</p></div>
	<div class="acs-col s"><p>Old debt</p></div>
	<div class="acs-col s"><p>New coffees</p></div>
	<div class="acs-col s"><p>Actions</p></div>
</div>
</div>

{% for employee in employees %}
<div class="acs-list">
<div class="acs-row">
	<div class="acs-col s"><p>{{employee.name}}</p></div>
	<div class="acs-col s"><p>{{employee.debth}} €</p></div>
	<div class="acs-col s"><p>{{employee.coffees}} cup/s</p></div>
	<div class="acs-col s">
		{% if user.is_authenticated %}
		<p><a class="acs-button" href="{% url 'mail' employee.id %}"><i class="fa fa-envelope" aria-hidden="true"></i> Mail</a>
		</p>
		<p><a class="acs-button" href="{% url 'user' employee.qr %}"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></p>
		{% endif %}
		{% if employee.email != 'nan' %}
		<p><a class="acs-button" href="{% url 'getlink' employee.id %}" >Get link</a></p>
		{% else %}
		<p><a disabled>Email missing</a></p>
		{% endif %}
	</div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}