{% extends "main/base.html" %}

{% load static %}

{% block title %}
ACS Coffee | {{employee.name}}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content2 %}
	<div class="acs-form">
		<img class="acs-logo2" src="{% static 'main/eoncoffee2.png' %}">
		<h1 class="acs-card-title">{{employee.name}}</h1>
		<p class="acs-card-text">{{employee.email}}</p>
		<h1><span class="acs-card-label">{{employee.coffees}}</span> <span class="acs-card-text">cup/s</span></h1>
		{% if output != None %}
		<h4 style="color: green"><i class="fa fa-check" aria-hidden="true"></i> {{output}}</h4>
		{% endif %}
		<p><a class="acs-button" href="{% url 'add' employee.qr %}"><i class="fa fa-coffee" aria-hidden="true"></i> Add a cup</a></p>
		<p><a class="acs-button2" target="_blank" href="https://www.paypal.com/de/home/"><i class="fa fa-paypal" aria-hidden="true"></i> Link to Paypal</a></p>
		<p><a class="acs-button2" href="{% url 'editprofile' employee.id %}"><i class="fa fa-cog" aria-hidden="true"></i> Edit profile</a></p>
		<p><a class="acs-button2" href="{% url 'index' %}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</a></p>
	</div>
{% endblock %}