/* color scheme */
:root {
  --background: #f5f5f9;
  --background2: #2b2f33;
  --background3: #222222;
  --primary: #e53632;
  --primary2: #06c;
  --primary3: #e58e32;
  --secondary: #0336FF;
  --border: #d2d2d2;
  --black: #000;
  --black1: #424242;
  --black2: #a2a2a2;
  --white: #fff;
  --white1: #f2f2f2;
  --white2: #e2e2e2;
  --c1: #987654;
  --c2: #987654;
  --c3: #a28465;
  --c4: #ad9176; 
  --c5: #b79f87;
  --c6: #c1ad98;
  --c7: #ccbbaa;
  --c8: #d6c8bb;
  --c9: #e0d6cc;
  --c10: #eae4dd;
  --c11: #f5f1ee;
}

/* global settings */
html {
  font-family: Roboto, Arial, sans-serif !important;
}

p {
	font-size: 24px;
}

a {
  text-decoration: none !important;
}

input:focus {
  outline: none;   
}

h1 {
	font-size: 60px;
}

button, a {
	font-size: 16px;
}

/* main nav */
.acs-nav {
	overflow: hidden;
	padding: 8px 10%;
	background-color: var(--background2);
}

.acs-link {
	color: var(--primary);
	padding: 8px 16px;
}

.acs-link:hover {
	color: var(--black);
}

.acs-logo {
	height: 16px;
}

.acs-logo2 {
	height: 64px;
}

.acs-content {
	text-align: center;
	padding: 32px 10%;
	background-color: var(--white);
}

.acs-footer {
	background-color: var(--white);
	padding: 32px 10%;
	text-align: left;
}

.acs-form {
	text-align: center;
	border-radius: 0px;
	background-color: var(--white);
	padding: 32px;
}

.acs-form-lower {
	padding: 32px 0;
}

form label {
	font-weight: bold;
	width: 100%;	
	color: var(--black1);
}

form input {
	display: inline-block;
	box-sizing: border-box;
	padding: 12px 24px;
	border: 1px solid var(--border);
	border-radius: 4px;
}

form select {
	box-sizing: border-box;
	padding: 12px 24px;
	border: 1px solid var(--border);
	border-radius: 4px;
}

/* Main content */
.acs-title {
	border-radius: 4px;
	color: var(--black);
	margin-bottom: 4px;
	background-color: var(--white2);
}

.acs-secondary {
	text-align: center;
	color: var(--black2);
}

.acs-list {
	border-radius: 4px;
	background-color: var(--white1);
	color: var(--black);
	margin-bottom: 4px;
}

/* Fullsize Card */
.acs-fullsize {
	font-size: 16px;
	padding: 16px;
	text-align: center;
}

.acs-card {
	margin: 8px;
	padding: 8px;
	margin-bottom: 16px;
	border-radius: 4px;
}

.acs-card-title {
	color: var(--black);
}

.acs-card-label {
	font-weight: bold;
	color: var(--black1);
}

.acs-card-text {
	font-weight: normal;
}

.acs-card-logo {
	border-radius: 16px 16px 0 0;
	height: 300px;
}

.acs-button {
	border: none;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	background-color: var(--primary);
	padding: 8px 16px;
	color: var(--white);
}

.acs-button2 {
	border: 1px solid var(--primary);
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	background-color: var(--white);
	padding: 8px 16px;
	color: var(--primary);
}

.acs-button:hover {
	background-color: var(--background2);
	color: var(--white);
}

.acs-button2:hover {
	border: 1px solid var(--background2);
	background-color: var(--background2);
	color: var(--white);
}

/* Rows and Cols */
.acs-row {
	width: 100%;
}

.acs-row:after {
	content: "";
	display: table;
	clear: both;
}

.acs-col {
	float: left;
}

.s {
	width: 25%;
}

.m {
	width: 50%;
}

@media screen and (max-width: 800px) {
  /* mobile settings: */
  .acs-content {
  	text-align: center;
  	padding: 16px;
  }
  .m {width: 100% !important;}
}