/* color scheme */
:root {
  --background: #f2f2f2;
  --primary: #FFDE03;
  --secondary: #0336FF;
  --border: #d8d8d8;
  --black: #212121;
  --black1: #828282;
  --c1: #987654;
  --c2: #987654;
  --c3: #a28465;
  --c4: #ad9176; 
  --c5: #b79f87;
  --c6: #c1ad98;
  --c7: #ccbbaa;
  --c8: #d6c8bb;
  --c9: #e0d6cc;
  --c10: #eae4dd;
  --c11: #f5f1ee;
}

/* global settings */
html {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 11px;
}

a {
  text-decoration: none !important;
}

input:focus {
  outline: none;   
}

/* main nav */
.acs-nav {
	overflow: hidden;
	padding: 0 32px;
	background-color: var(--background);
}

.acs-link {
	font-weight: bold;
	color: var(--black1);
	padding: 16px;
	font-size: 11px;
}

.acs-link:hover {
	color: var(--black);
}

.acs-logo {
	height: 32px;
}

.acs-content {
	padding: 32px 32px;
	background-color: var(--background);
	text-align: center;
}

.acs-footer {
	background-color: var(--background);
	padding: 32px;
	text-align: center;
}

.acs-form {
	background-color: white;
	border-radius: 16px;
}

/* Main content */
.acs-title {
	font-weight: bold;
	border-bottom: 1px solid var(--border);
}

.acs-list:not(:last-child) {
	border-bottom: 1px solid var(--border);
}

/* Fullsize Card */
.acs-fullsize {
	text-align: center;
	padding: 32px 32px;
	min-height: 80vh;
}

.acs-card {
	display: inline-block;
	border-radius: 16px;
	text-align: center;
	background-color: var(--background);
}

.acs-card-logo {
	border-radius: 16px 16px 0 0;
	height: 300px;
}

.acs-card-low {
	padding: 32px;
}

.acs-text-high {
	font-weight: bold;
	font-size: 21px;
	color: var(--primary);
}

.acs-text-low {
	font-weight: bold;
	font-size: 11px;
	color: var(--black1);
}

.acs-button {
	cursor: pointer;
	border: none;
	font-weight: bold;
	font-size: 13px;
	display: inline-block;
	background-color: var(--black);
	border-radius: 8px;
	padding: 8px 16px;
	color: var(--black1);
}

.acs-button:hover {
	color: var(--black);
}

/* Rows and Cols */
.acs-row {
	width: 100%;
}

.acs-row:after {
	content: "";
	display: table;
	clear: both;
}

.acs-col {
	float: left;
}

.s {
	width: 25%;
}

.m {
	width: 50%;
}